*{
    box-sizing: border-box;
}
body{
    text-align: center;
    background-image: url(music1.jpg);
    background-position: center;
    background-size: cover;
}
.new_account{
    float: right;
}
.form{
    margin:100px auto;
}